.tin-tuc-noi-bat-container {
    height: 831px;
    width: 100%;
}

.red-background {
    background-color: #B32A45;
    height: 480px;
    width: 100%;
    position: absolute;
    top: 130px;
    z-index: -999;
}

body {
    height: 10000px;
}

.page-body {
    position: absolute;
    width: 100%;
    top: 130px;
}

.tin-tuc-noi-bat {
    margin-top: 55px;
    height: 700px;
    width: 100%;
    /* background-color: aliceblue; */
    z-index: 2;
    position: relative;
    display: grid;
    grid-template-rows: 93px 339px 241px;
    grid-template-columns: 800px 500px;
    gap: 20px;
}

.tin-tuc-noi-bat .heading h2 {
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 0%;
    color: white;
    margin: 0;
}

.tin-tuc-noi-bat .heading {
    grid-column: span 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.tin-tuc-noi-bat .big-news {
    /* background-color: black; */
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 4;
}

.tin-tuc-noi-bat .second-news {
    background-color: rgb(10, 88, 0);
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 3;
}

.tin-tuc-noi-bat .third-news {
    background-color: rgb(0, 56, 119);
    grid-column-start: 2;
    grid-row-start: 3;
    grid-column-end: 3;
    grid-row-end: 4;
}

.big-news-image {
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.big-news-image img {
    width: 800px;
    height: 400px;
}

.big-news .big-news-title h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0%;
    margin-top: 10px;
    margin-bottom: 0px;
}

.big-news-title {
    width: 100%;
    max-height: 160px;
}

.big-news-article {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    color: #686868;
    margin-top: 20px;
    overflow: hidden;
}

.second-news {
    position: relative;
}

.second-news img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.second-news .second-news-title h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 30px;
    color: white;
    letter-spacing: 0%;
    z-index: 1;

    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.third-news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #B32A45 !important;
}

.third-news img {
    width: 225px;
}

.third-news-title {
    /* background-color: aliceblue; */
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.third-news-title .third-news-heading {
    font-family: Roboto;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0%;
    color: white;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
}

.third-news-article {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    color: #E8E8E8;
    letter-spacing: 0%;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.thoi-su-section {
    
}


.big-news-img {
    object-fit: cover;
}

.the-thao-section {
    width: 100%;
    height: 1501px;
    position: relative;
}

.the-thao-section .the-thao-red-background {
    height: 1501px;
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
}

.black-background-container {
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.the-thao-section .black-background {
    width: 1260px;
    height: 1248px;
    position: absolute;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.the-thao-section-container {
    width: 960px;
    height: 1002px;
    /* background-color: aliceblue;background: #CBCBCB;
 */
}

.the-thao-section-header {
    font-family: Roboto;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-align: center;
}

.the-thao-section-sub-header {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0%;
    color: #CBCBCB;
    text-align: center;
}

.the-thao-section-header-container .the-thao-section-line {
    width: 230px;
    height: 6px;
    /* position: none; */
    margin: auto;
}

.the-thao-red-line-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.the-thao-section-body-container {
    height: 826px;
    width: 100%;
    /* background-color: #E8E8E8; */
    margin-top: 50px;
    display: grid;
    grid-template-columns: 400px 250px 250px;
    grid-template-rows: 304px auto;
    gap: 30px;
}

.the-thao-side-articles {
    background-color: aquamarine;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 3;
}

.the-thao-big-article {
    background-color: bisque;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 2;
    position: relative;
    cursor: pointer;
}

.the-thao-second-article-1 {
    background-color:cadetblue;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 3;
}

.the-thao-second-article-2 {
    background-color:cadetblue;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 3;
}

.the-thao-big-article .the-thao-big-news {
    width: 100%;
    height: 100%;
    position: absolute;
}

.transparent-panel {
    width: 100%;
    height: 100%;
    position: absolute;
}

.the-thao-big-news-title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0%;
    color: white;
    position: absolute;
    bottom: 30px;
    left: 20px;
    right: 20px;
}