a {
    text-decoration: none;
}
.navbar-tren {
    height: 80px;
    /* background-color: #6C6C6C; */
    width: 100%;
    border-bottom: 0.5px solid #E6E6E6;
}

.navbar-tren-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-tren-container > img {
    height: 60px;
    margin-left: 100px;
}

.navbar-tren-tien-ich {
    display: inline-block;
    margin-right: 100px;
}

.navbar-duoi {
    border-bottom: 0.5px solid #E6E6E6;
}

.navbar-duoi-container {
    height: 50px;
    background-color: white;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-duoi-container > img {
    height: 50px;
    /* border-right: 1px solid #BFBFBF; */

}

.navbar-duoi-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarDuoiLine {
    height: 35px;
}

.cat-set {
    display: flex;
    min-width: 900px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cat-set-title {
    cursor: pointer;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0%;
    color: black;
    border: 2px solid transparent;
    transition: color 0.3s ease-in-out; 
}

.cat-set-title:hover {
    color: #B32A45;
}