            <div class="footer-page">
                <div class="footer-tren">
                    <div class="footer-tren-slogan">
                        <h3>Tin nhanh,</h3>
                        <h3>Góc nhìn sâu,</h3>
                        <h3>Cập nhật thế giới cùng bạn!</h3>
                    </div>

                    <div class="footer-tren-contacts">
                        <h3>Về chúng tôi</h3>
                        <div class="social-links">
                            <i class="bi bi-facebook fs-1"></i>
                            <i class="bi bi-instagram fs-1"></i>
                            <i class="bi bi-youtube fs-1"></i>
                            <i class="bi bi-twitter-x fs-1"></i>
                            <i class="bi bi-threads-fill fs-1"></i>
                            <i class="bi bi-tiktok fs-1"></i>
                        </div>
                    </div>

                </div>

                <div class="footer-duoi">
                    <div class="under-text">
                        <h3>@ 2025 E22CN02-B PTIT</h3>
                    </div>
                    <img src="/../assets/navbarLogo.png" alt="">
                    <div class="under-text">
                        <a target="_blank" href="https://www.google.com/maps/place/Center+for+International+Education+-+PTIT/@20.9806069,105.7847042,17z/data=!4m6!3m5!1s0x3135ad90e2a1549d:0x29a19ed11e54f2b6!8m2!3d20.9806019!4d105.7872791!16s%2Fg%2F11jnxrzfq1?entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoASAFQAw%3D%3D">
                            <h3>20.9808, 105.7874</h3>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <script src="/../js/navbar.js" defer></script>
        <script src="/../js/homePage.js"></script>
        <script src="/../js/scriptTrangchuThoisu.js"></script>
        <script src="/../js/trangTimKiem.js"></script>
        <!-- <script src="/../js/pageWorkFlow.js"></script> -->
        <script src="/../js/trangDanhMuc.js"></script>
        <script src="/../js/chiTietBaiViet.js" defer></script>
        <script src="/../js/congDangNhap.js"></script>  
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1/locale/vi.js"></script>    
    </body>

</html>