<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The PTIT News</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/globalScopeStyle.css">
        <link rel="stylesheet" href="../css/homePage.css">
        <link rel="stylesheet" href="../css/navbar.css">
        <link rel="stylesheet" href="../css/styleTrangChu.css">
        <link rel="stylesheet" href="../css/section3KhoaHocCongNghe.css">
        <link rel="stylesheet" href="../css/stylesTrangchuThoisu.css">
        <link rel="stylesheet" href="../css/giaoduc.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/chiTietBaiVietStyle.css">
        <link rel="stylesheet" href="../css/trangDanhMuc.css" />
        <link rel="stylesheet" href="../css/trangDanhMuc2.css"/>
        <link rel="stylesheet" href="../css/quantri.css">
        <link rel="stylesheet" href="../css/trangTimKiemBaiViet.css"/>
        <link rel="stylesheet" href="../css/congDangNhap.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body>

        <div class="header" id="navbar-header">
            <div class="navbar-tren">
                <div class="navbar-tren-container">
                    <a href="/"><img src="../assets/navbarLogo.png" alt=""></a>
    
                    <div class="navbar-tren-tien-ich">
                        <div  class="search-bar">
                            <input type="text" placeholder="Search..." class="search-bar-input">
                            <i class="bi bi-search fs-1"></i>
                        </div>
                        <div id="User_name">
                            <i id="User" onclick="CongDangnhap()" class="bi bi-person-circle fs-1 ms-3"></i>
                        </div>
                    </div>
    
                </div>
            </div>

            <div class="navbar-duoi">
                <div class="navbar-duoi-container container">

                    <a href="/"><img src="../assets/navbarLogoSmall.png" alt=""></a>

                    <div class="navbar-duoi-line-container">
                        <img src="../assets/navbarLine.png" alt="" class="navbarDuoiLine">
                    </div>
                    <div class="cat-set">
                        <ul class="cat-set">
                            <li class="sub-menu-parent">
                                <a href="../html/trangDanhMuc.html"><p class="cat-set-title xa-hoi-title">Xã hội</p></a>
                                <div class="drop-down-menu">
                                    <ul class="sub-menu">
                                        <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Thời sự</li></a>
                                        <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Giao thông</li></a>
                                        <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Môi trường - Khí hậu</li></a>
                                    </ul>
                                </div>
                            </li>
    
                            <li class="sub-menu-parent">
                                <a href="../html/trangDanhMuc.html"><p class="cat-set-title khcn-title">Khoa học & Công nghệ</p></a>
    
                                <div class="drop-down-menu">
                                    <ul class="sub-menu">
                                        <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Tin tức công nghệ</li></a>
                                        <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Hoạt động công nghệ</li></a>
                                        <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Tạp chí</li></a>
                                    </ul>
                                </div>
                            </li>
    
                            <li class="sub-menu-parent">
                                <a href="../html/trangDanhMuc.html"><p class="cat-set-title suc-khoe-title">Sức khỏe</p></a>
    
                                <div class="drop-down-menu">
                                    <ul class="sub-menu">
                                        <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Dinh dưỡng</li></a>
                                        <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Làm đẹp</li></a>
                                        <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Y tế</li></a>
                                    </ul>
                                </div>
                            </li>
    
                            <li class="sub-menu-parent">
                                <a href="../html/trangDanhMuc.html"><p class="cat-set-title the-thao-title">Thể thao</p></a>
    
                                <div class="drop-down-menu">
                                    <ul class="sub-menu">
                                        <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Bóng đá</li></a>
                                        <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Bóng rổ</li></a>
                                    </ul>
                                </div>
                            </li>
    
                            <li class="sub-menu-parent">
                                <a href="../html/trangDanhMuc.html"><p class="cat-set-title giai-tri-title">Giải trí</p></a>
    
                                <div class="drop-down-menu">
                                    <ul class="sub-menu">
                                        <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Âm nhạc</li></a>
                                        <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Thời trang</li></a>
                                        <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Điện ảnh - Truyền hình</li></a>
                                    </ul>
                                </div>
                            </li>
                            
                            <li class="sub-menu-parent">
                                <a href="../html/trangDanhMuc.html"><p class="cat-set-title giao-duc-title">Giáo dục</p></a>
    
                                <div class="drop-down-menu">
                                    <ul class="sub-menu">
                                        <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Thi cử</li></a>
                                        <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Đào tạo</li></a>
                                        <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Học bổng - Du học</li></a>
                                    </ul>
                                </div>
                            </li>
    
                            <li class="sub-menu-parent-quan-tri">
                                <a href="./html/quantri.html"><p id="Quantri" class="dong">Quản trị</p></a>
                            </li>
                        </ul>
                    </div>
    
                    <i class="bi bi-list fs-2 no-select" id="burgerIcon"></i>
                </div>
    
                <div id="bigMenu" class="big-menu hidden-overlay">
    
                    <div class="search-bar-big-container">
                        <div class="search-bar-big">
                            <input type="text" placeholder="Search..." class="search-bar-big-input-menu">
                            <i class="bi bi-search fs-1"></i>
                        </div>
                    </div>
                   
                    <div class="cat-set-big container">
                        
                        <ul class="cat-set-ul">
                            <li>
                                <a href=""><p class="cat-set-big-title xa-hoi-title">Xã hội</p></a>
                                <ul class="sub-menu-big">
                                    <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Thời sự</li></a>
                                    <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Giao thông</li></a>
                                    <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Môi trường - Khí hậu</li></a>
                                </ul>
                            </li>
    
                            <li>
                                <a href=""><p class="cat-set-big-title khcn-title">Khoa học & Công nghệ</p></a>
                                <ul class="sub-menu-big">
                                    <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Tin tức công nghệ</li></a>
                                    <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Hoạt động công nghệ</li></a>
                                    <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Tạp chí</li></a>
                                </ul>
                            </li>
    
                            <li>
                                <a href=""><p class="cat-set-big-title suc-khoe-title">Sức khỏe</p></a>
                                <ul class="sub-menu-big">
                                    <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Dinh dưỡng</li></a>
                                    <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Làm đẹp</li></a>
                                    <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Y tế</li></a>
                                </ul>
                            </li>
    
                            <li>
                                <a href=""><p class="cat-set-big-title the-thao-title">Thể thao</p></a>
                                <ul class="sub-menu-big">
                                    <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Bóng đá</li></a>
                                    <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Bóng rổ</li></a>
                                </ul>
                            </li>
    
                            <li>
                                <a href=""><p class="cat-set-big-title giai-tri-title">Giải trí</p></a>
                                <ul class="sub-menu-big">
                                    <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Âm nhạc</li></a>
                                    <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Thời trang</li></a>
                                    <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Điện ảnh - Truyền hình</li></a>
                                </ul>
                            </li>
    
                            <li>
                                <a href=""><p class="cat-set-big-title giao-duc-title">Giáo dục</p></a>
                                <ul class="sub-menu-big">
                                    <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Thi cử</li></a>
                                    <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Đào tạo</li></a>
                                    <a href="../html/trangDanhMuc.html"><li class="sub-menu-button">Học bổng - Du học</li></a>
                                </ul>
                            </li>
    
                        </ul>
                    </div>
    
                </div>
            </div>

            <div id="CongDangnhap">
                <div class="login-container">
                    <div class="login-header">
                        <img src="../assets/navbarLogo.png" class="login-header-logo" alt="">
                        <img src="../assets/backgroundLogin.png" alt="" class="login-header-background">
                        <button onclick="DongDangnhap()" type="button" class="close closs-css login-close-btn" aria-label="Close">
                            <i class="bi bi-x-circle fs-3"></i>
                        </button>
                    </div>

                    <div class="login-switch-tab">
                        <div id="txt_dn" onclick="switchToLogin()" class="clicked-effect">Đăng nhập</div>
                        <div id="txt_dk" onclick="switchToSignup()">Đăng ký</div>
                    </div>
        
                    <div id="Dangnhap" class="form-input active">
                        
                        <form class="login-form" action="/auth/login" method="POST">
                            <div class="login-form-input-outside-container">
                                <div class="row">
                                    <label for="email1" class="User col-sm-2 col-form-label">Email</label>
                                </div>
                                <div class="row mb-3 input-container">
                                    <div class="col-sm-10 input-inside-container">
                                        <input type="email" class="form-control" id="email1">
                                    </div>
                                </div>
                            </div>
                            <div class="login-form-input-outside-container">
                                <div class="row">
                                    <label for="password1" class="User col-sm-2 col-form-label">Password</label>
                                </div>
                                <div class="row mb-3 input-container">
                                    <div class="col-sm-10 input-inside-container">
                                        <input type="password" class="form-control" id="password1">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary mt-3 btn-login-style">Đăng nhập</button>
                                
                            </div>
                        </form>
                        
                    </div>

                    <div id="Dangky" class="form-input">
                        
                        <form class="login-form" action="/auth/register" method="POST">
                            <div class="login-form-input-outside-container">
                                <div class="row">
                                    <label for="username1" class="User col-sm-2 col-form-label">Username</label>
                                </div>
                                <div class="row mb-3 input-container">
                                    <div class="col-sm-10 input-inside-container">
                                        <input type="email" class="form-control" id="username1" name="username">
                                    </div>
                                </div>
                            </div>
                            <div class="login-form-input-outside-container">
                                <div class="row">
                                    <label for="email2" class="User col-sm-2 col-form-label">Email</label>
                                </div>
                                <div class="row mb-3 input-container">
                                    <div class="col-sm-10 input-inside-container">
                                        <input type="email" class="form-control" id="email2" name="email">
                                    </div>
                                </div>
                            </div>
                            <div class="login-form-input-outside-container">
                                <div class="row">
                                    <label for="password2" class="User col-sm-2 col-form-label">Password</label>
                                </div>
                                <div class="row mb-3 input-container">
                                    <div class="col-sm-10 input-inside-container">
                                        <input type="password" class="form-control" id="password2" name="password">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary mt-3 btn-login-style">Đăng ký</button>
                                
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>