<%- include("partials/header.ejs") %>

    <div class="page-container">
        <div class="container search-container">

            <div class="search-bar-big-container-on-page">
                <div class="search-bar-big">
                    <input type="text" placeholder="Search..." class="search-bar-big-input">
                    <i class="bi bi-search fs-1"></i>
                </div>
            </div>

            <img class="line6" src="../assets/timKiemBaiVietImages/dongKeMauDo.png" />
            
            <div class="search-items">
                <div class="image">
                    <img src="../assets/timKiemBaiVietImages/anhMessi.png" alt="Messi bị phạt">
                </div>
                <div class="content">
                    <div class="title">Messi và Suarez bị phạt vì túm cổ đối phương</div>
                    <div class="date">Thứ Tư, 14:56, 26/02/2025</div>
                    <div class="description">
                        VOV.VN - Messi và Luis Suarez bị Ban tổ chức MLS phạt tiền vì có hành vi túm cổ đối phương trong trận đấu giữa Inter Miami và New York City vào ngày 22/2.
                    </div>
                </div>
            </div>
    
    
            <div class="search-items">
                <div class="image">
                    <img src="../assets/timKiemBaiVietImages/anhMessi.png" alt="Messi bị phạt">
                </div>
                <div class="content">
                    <div class="title">Messi và Suarez bị phạt vì túm cổ đối phương</div>
                    <div class="date">Thứ Tư, 14:56, 26/02/2025</div>
                    <div class="description">
                        VOV.VN - Messi và Luis Suarez bị Ban tổ chức MLS phạt tiền vì có hành vi túm cổ đối phương trong trận đấu giữa Inter Miami và New York City vào ngày 22/2.
                    </div>
                </div>
            </div>
    
    
            <div class="search-items">
                <div class="image">
                    <img src="../assets/timKiemBaiVietImages/anhMessi.png" alt="Messi bị phạt">
                </div>
                <div class="content">
                    <div class="title">Messi và Suarez bị phạt vì túm cổ đối phương</div>
                    <div class="date">Thứ Tư, 14:56, 26/02/2025</div>
                    <div class="description">
                        VOV.VN - Messi và Luis Suarez bị Ban tổ chức MLS phạt tiền vì có hành vi túm cổ đối phương trong trận đấu giữa Inter Miami và New York City vào ngày 22/2.
                    </div>
                </div>
            </div>
    
    
            <div class="search-items">
                <div class="image">
                    <img src="../assets/timKiemBaiVietImages/anhMessi.png" alt="Messi bị phạt">
                </div>
                <div class="content">
                    <div class="title">Messi và Suarez bị phạt vì túm cổ đối phương</div>
                    <div class="date">Thứ Tư, 14:56, 26/02/2025</div>
                    <div class="description">
                        VOV.VN - Messi và Luis Suarez bị Ban tổ chức MLS phạt tiền vì có hành vi túm cổ đối phương trong trận đấu giữa Inter Miami và New York City vào ngày 22/2.
                    </div>
                </div>
            </div>
        </div>

<%- include("partials/footer.ejs") %>
 