html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-select {
    user-select: none;
}

html {
    scrollbar-gutter: stable;
}

p {
    margin: 0;
}

a {
    color: black;
}


body {
    scrollbar-width: none; /* Ẩn scroller trên Firefox */
    -ms-overflow-style: none; /* Ẩn scroller trên IE/Edge */
}

body::-webkit-scrollbar {
    display: none; /* Ẩn scroller trên Chrome, Safari */
}

.glass-panel {
    z-index: 1;
}


.position-fixed {
    position: fixed;
    top: 0;
}

ul {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

.hidden-overlay {
    display: none !important;
}

#overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: calc(var(--navbar-tren-height, 50px) + var(--navbar-duoi-height, 50px)); 
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    z-index: 2;    
    margin-top: 200px;
}


.navbar-tren {
    height: 80px;
    /* background-color: #6C6C6C; */
    width: 100%;
    border-bottom: 0.5px solid #E6E6E6;
    z-index: 10;
}

.navbar-tren-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-tren-container > a img {
    height: 60px;
    margin-left: 100px;
}

.navbar-tren-tien-ich {
    display: inline-block;
    margin-right: 100px;
}

.navbar-duoi {
    border-bottom: 0.5px solid #E6E6E6;
    width: 100%;
    background-color: white;
    z-index: 20;
}

.sticky {
    position: fixed;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-duoi-container {
    height: 50px;
    background-color: white;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-duoi-container > a img {
    height: 50px;
}

.logo-duoi-container > a img {
    height: 50px;
}

.navbar-duoi-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarDuoiLine {
    height: 35px;
}

.cat-set {
    display: flex;
    min-width: 900px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cat-set-title {
    cursor: pointer;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0%;
    color: black;
    border: 2px solid transparent;
    transition: color 0.2s ease-in-out; 
}

.cat-set-title:hover {
    color: #B32A45;
}

.cat-set > ul {
    height: 100%;
}

.cat-set > li {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sub-menu-parent {
    position: relative;
    z-index: 30;
}

.sub-menu {
    background-color: white; /* Đảm bảo nền trắng ngay lập tức */
    border-top: 2px solid #B32A45; /* Viền nhẹ */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-10px);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    width: 210px;
    height: auto;
    z-index: 100000;
}

.sub-menu li {
    cursor: pointer;
    display: block;
    margin-top: 10px;
    padding: 0px 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    transition: color 0.1s ease-in-out; 
}

.sub-menu li:hover {
    color: #B32A45;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.1s;
}

.bi-person-circle {
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.bi-person-circle:hover {
    color: #B32A45;
}

#burgerIcon {
    cursor: pointer;
}

.big-menu {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 400px;
    z-index: 10;
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top: 0.5px solid #E6E6E6;
}

.cat-set-big {
    background-color: rgb(255, 255, 255);
    height: 50%;
    width: 100%;
}

.cat-set-ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.sub-menu-big li {
    margin-top: 10px;
    cursor: pointer;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    transition: color 0.1s ease-in-out; 
    margin-left: 10px;
}

.sub-menu-big li:hover {
    color: #B32A45;
}

.cat-set-big-title {
    cursor: pointer;
    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0%;
    color: black;
    border-bottom: 5px solid #B32A45;
    transition: color 0.2s ease-in-out; 
}

.search-bar {
    height: 60px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
}

.search-bar:hover input {
    width: 400px;
}

.search-bar:hover {
    border: 2px solid #00000069;
}

.search-bar input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.navbar-tren-tien-ich {
    display: flex;
    justify-content: center;
}

.navbar-tren-tien-ich .search-bar {
    padding-right: 10px;
}

.search-bar-big-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar-big {
    height: 80px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: 2px solid #00000069;
}

.search-bar-big input {
    width: 400px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.dong{
    display: none!important;
}
.mo{
    display: block!important;
}
#CongDangnhap{
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,0%,0.5);
    display: none;
    z-index: 100;
    top: 0px;
    position: fixed;
}
.rt{
    border-bottom-color: #B32A45!important;
}
.ut{
    border-bottom-color: gray!important;
}

.bi-box2-heart {
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.bi-box2-heart:hover {
    color: #B32A45;
}

.user-panel {
    height: 300px;
    width: 280px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    position: fixed;
    right: 50px;
    top: 80px;
    height: fit-content;
    /* padding-bottom: 20px; */
    /* min-height: 200px; */
    box-shadow: 5px 5px 9px 0px #00000017;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 100000;
}

.user-panel.open-panel {
    max-height: 300px;

}

.user-panel > hr {
    border: 1px solid #b32a45;
    margin: 0;
    width: 90%;
    margin: auto;
    background-color: #B32A45;
    color: #B32A45;
}

.user-panel-name-card {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.user-panel-name-card > p {
    font-family: "Lexend Deca", sans-serif;
    font-size: 20px;
    margin-left: 20px;
}

.user-panel-page-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

.user-panel-page-btn-container a {
    margin-left: 15px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 18px;
    transition: color 0.2s ease;
    transition: font-weight 0.2s ease;
}

.user-panel-page-btn-container a:hover {
    color: #B32A45;
    font-weight: 500;
}

.user-panel-page-btn-container a:hover + i {
    color: #B32A45; /* Thay đổi màu sắc của thẻ i khi hover vào thẻ a */
    transform: translateX(5px);
}

.user-panel-page-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.user-panel-page-btn-container i {
    margin-right: 20px;
    transition: color 0.2s ease;
    transition: transform 0.2s ease;
}

.user-panel-page-btn-container:last-of-type {
    margin-bottom: 20px;
}

.no-scroll {
    overflow: hidden; /* Ngăn chặn cuộn */
    height: 100%; /* Đảm bảo chiều cao 100% */
}

.stats-container-inside {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.stats-container {
    /* background-color: aqua;   */
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.weather-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40% !important;
    /* margin-top: 1px; */
}

.weather-stats-temp,
.weather-stats-city,
.day-stats p {
    font-family: "Lexend Deca", sans-serif;
    /* font-size: 20px; */
    margin-left: 10px;
}

.weather-stats-temp,
.weather-stats-city {
    color: #B32A45;
}

/* .weather-stats > img {
    height: 200%;
}

.stats-container > img {
    height: 150%;
} */

.day-stats {
    /* background-color: rgb(94, 6, 6); */
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    /* margin-bottom: 1px; */
}

.hidden-class {
    display: none;
}

.show-class {
    display: flex;
}