body {
    margin: 0;
}

.position-absolute {
    width: 100%;
    position: absolute;
}

/* .container {
    margin-top: 390px !important;
    width: 1000px;
    margin: auto;
} */

.page-container {
    position: absolute;
    width: 100%;
    top: 130px;
}

.search-container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.search-items {
    width: 1000px;
    height: 230px;
    display: flex;
    background-color: white;
    /* border-bottom: 2px solid #A0A0A0; */
    margin-bottom: 30px;
}

.search-bar-big-container-on-page {
    margin: 50px 0px;
}


.image {
    width: 300px;
    flex-shrink: 0;
}


.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    gap: 5px;
}


.title {
    font-weight: 600;
    color: black;
    font-size: 30px;
    letter-spacing: 0%;
    font-family: "Roboto", sans-serif;
}


.content .date {
    font-size: 20px;
    color: gray;
    font-family: "Open Sans", sans-serif;
}


.description {
    font-size: 20px;
    color: black;
    font-family: "Open Sans", sans-serif;
    margin-top: 45px;
}


.line6 {
    margin-bottom: 30px;
}


.line7 {
    margin-top: 30px;
    margin-bottom: 30px;
}
