.con1000 {
    width: 1020px;
    margin: auto;
}

.margin-50 {
    margin-top: 50px;
}

a {
    text-decoration: none !important;
}

body {
    margin: 0;
}

.image-title {
    position: relative;
    display: inline-block;
    height: 350px;
    width: 100%;
    margin-bottom: 50px;
}

.image-title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background-size: cover;
    background-position: center;
}

.title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    color: white;
    font-family: "Lexend Deca";
    font-size: 120px;
    font-weight: 600;
    z-index: 1;
}

.section {
    width: 1020px;
    /* padding: 50px 256px; */
    margin-bottom: 50px !important;
    height: fit-content !important;
}

.section:not(:first-of-type) {
    margin-top: 20px;
}

.section h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #B32A45;
}

.title-section img {
    margin-bottom: 30px;
}

.title-section i {
    margin-left: 10px;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
}

.grid-section-items {
    width: 320px;
    height: 500px;
    background: #F3F3F3;
    border-radius: 25px;
    text-align: left;
}

.grid-section-items img {
    width: 320px;
    height: 213px;
    border-radius: 25px 25px 0 0;
    object-fit: cover !important;
}

.news-content {
    height: 287px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-start;
}

.news-content h3 {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight:700;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.news-content .date {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #6C6C6C;
    margin-left: 15px;
}

.news-content .content-danh-muc {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0%;
    color: black;
    margin: 15px;
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.view-more {
    width: 1000px;
}

.view-more p {
    margin-top: 20px;
    margin-left: 856px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0%;
}

.end{
    position: relative;
    background-color: black;
    width: 100%;
    height: 500px;
    margin-top: 100px;
}

.end hr {
    position: absolute;
    border-top: 2px solid white;
    width: 1400px;
    margin: 390px 56px 110px 56px;
}

.end img {
    position: absolute;
    width: 190px;
    height: 60px;
    margin-top: 415px;
    margin-left: 1267px;
}
        

.page-container {
    position: absolute;
    width: 100%;
    top: 130px;
}

.view-more p:hover {
    color: #B32A45;
}

/* Màu chữ mặc định */
.news-title,
.news-link {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Đổi màu khi di chuột vào */
.news-title:hover,
.news-link:hover {
    color: #B32A45;
}

.no-article-container {
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-article-img {
    /* width: 100%; */
    height: 400px;
    object-fit: cover;
    border-radius: 25px;
}

.no-article-heading {
    font-family: 'Lexend Deca', sans-serif !important;
    font-size: 26px !important;
}
